<?xml version="1.0"?>
<config>
    <modules>
        <Kpatidar_Routem>
            <version>0.1.0</version>
        </Kpatidar_Routem>
    </modules>
    <frontend>
        <routers>
            <routem>
                <use>standard</use>
                <args>
                    <module>Kpatidar_Routem</module>
                    <frontName>routem</frontName>
                </args> 
            </routem>
        </routers>
        <layout>
            <updates>
                <routem>
                    <file>routem.xml</file>
                </routem>
            </updates>
        </layout>
    </frontend>
    <admin>
	<routers>
		<adminhtml>
			<args>
				<modules>
					<Kpatidar_Routem before="Mage_Adminhtml">Kpatidar_Routem_Adminhtml</Kpatidar_Routem>
				</modules>
			</args>
		</adminhtml>
	</routers>
</admin>
    <adminhtml>
		<!--<depends>
			 <config_path>routem/routemstatus/status</config_path>
		</depends>-->
        <menu>
         <cms>
          <children>
           <items module="routem">
            <title>404 Management</title>
            <sort_order>10</sort_order> 
            <action>adminhtml/routem</action>
           </items>
          </children>
         </cms>
        </menu> 
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <routem>
                            <title>Routem Module</title>
                            <sort_order>200</sort_order>
                        </routem>
                    </children>
                </admin>
            </resources>    
        </acl>
        <layout>
            <updates>
                <routem>
                    <file>routem.xml</file>
                </routem>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <routem>
                <class>Kpatidar_Routem_Model</class>
                <resourceModel>routem_mysql4</resourceModel>
            </routem>
            <routem_mysql4>
                <class>Kpatidar_Routem_Model_Mysql4</class>
                <entities>
                    <routem>
                        <table>routem</table>
                    </routem>
                </entities>
            </routem_mysql4>
        </models>
        <resources>
            <routem_setup>
                <setup>
                    <module>Kpatidar_Routem</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </routem_setup>
            <routem_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </routem_write>
            <routem_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </routem_read>
        </resources>
        <blocks>
            <routem>
                <class>Kpatidar_Routem_Block</class>
            </routem>
        </blocks>
        <helpers>
            <routem>
                <class>Kpatidar_Routem_Helper</class>
            </routem>
        </helpers>
      <events>
	  <controller_action_predispatch_cms_index_noRoute> 
        <observers>
          <controller_action_predispatch_cms_index_noRoute_handler>
            <type>model</type>
            <class>routem/observer</class>
            <method>routeManagement</method>
            <args></args>
          </controller_action_predispatch_cms_index_noRoute_handler>
        </observers>
      </controller_action_predispatch_cms_index_noRoute>
    </events>
    </global>
</config>
