<?xml version="1.0"?>
<config>
    <modules> 
        <Magcoder_Redirect404error>
            <version>0.0.1</version>
        </Magcoder_Redirect404error>
    </modules>
    <frontend>
        <routers>
            <redirect404error>
                <use>standard</use>
                <args>
                    <module>Magcoder_Redirect404error</module>
                    <frontName>redirect404error</frontName>
                </args>
            </redirect404error>
        </routers>
        <layout>
            <updates>
                <redirect404error>
                    <file>redirect404error.xml</file>
                </redirect404error>
            </updates>
        </layout>
    </frontend>
    <admin>
	<routers>
		<adminhtml>
			<args>
				<modules>
					<Magcoder_Redirect404error before="Mage_Adminhtml">Magcoder_Redirect404error_Adminhtml</Magcoder_Redirect404error>
				</modules>
			</args>
		</adminhtml>
	</routers>
</admin>
    <adminhtml>
		<!--<depends>
			 <config_path>redirect404error/redirect404errorstatus/status</config_path>
		</depends>-->
        <menu>
         <cms>
          <children>
           <items module="redirect404error">
            <title>404 Management</title>
            <sort_order>10</sort_order> 
            <action>adminhtml/redirect404error</action>
           </items>
          </children>
         </cms>
        </menu> 
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <redirect404error>
                            <title>Redirect404error Module</title>
                            <sort_order>200</sort_order>
                        </redirect404error>
                    </children>
                </admin>
            </resources>    
        </acl>
        <layout>
            <updates>
                <redirect404error>
                    <file>redirect404error.xml</file>
                </redirect404error>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <redirect404error>
                <class>Magcoder_Redirect404error_Model</class>
                <resourceModel>redirect404error_mysql4</resourceModel>
            </redirect404error>
            <redirect404error_mysql4>
                <class>Magcoder_Redirect404error_Model_Mysql4</class>
                <entities>
                    <redirect404error>
                        <table>redirect404error</table>
                    </redirect404error>
                </entities>
            </redirect404error_mysql4>
        </models>
        <resources>
            <redirect404error_setup>
                <setup>
                    <module>Magcoder_Redirect404error</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </redirect404error_setup>
            <redirect404error_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </redirect404error_write>
            <redirect404error_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </redirect404error_read>
        </resources>
        <blocks>
            <redirect404error>
                <class>Magcoder_Redirect404error_Block</class>
            </redirect404error>
        </blocks>
        <helpers>
            <redirect404error>
                <class>Magcoder_Redirect404error_Helper</class>
            </redirect404error>
        </helpers>
      <events>
	  <controller_action_predispatch_cms_index_noRoute> 
        <observers>
          <controller_action_predispatch_cms_index_noRoute_handler>
            <type>model</type>
            <class>redirect404error/observer</class>
            <method>redirect404errorManagement</method> 
            <args></args>
          </controller_action_predispatch_cms_index_noRoute_handler>
        </observers>
      </controller_action_predispatch_cms_index_noRoute>
    </events>
    </global>
</config>
 