<?xml version="1.0"?>
<config>
    <modules>
        <Magcoder_Smsnotification>
            <version>0.0.1</version>
        </Magcoder_Smsnotification>
    </modules>
    <frontend>
        <routers>
            <smsnotification>
                <use>standard</use>
                <args>
                    <module>Magcoder_Smsnotification</module>
                    <frontName>SMS Manager</frontName>
                </args>
            </smsnotification>
        </routers>
        <layout>
            <updates>
                <smsnotification>
                    <file>smsnotification.xml</file>
                </smsnotification>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
       <adminhtml>
            <args>
                <modules>
                    <Magcoder_Smsnotification before="Mage_Adminhtml">Magcoder_Smsnotification_Adminhtml</Magcoder_Smsnotification>
                </modules>
            </args>
        </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu> 
            <smsnotification module="smsnotification">
                <title>SMS Manager</title>
                <sort_order>71</sort_order>                
                <children>
                    <items module="smsnotification"> 
                        <title>Manage SMS</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/smsnotification/</action>
                    </items>
                    <setting module="smsnotification">
                        <title>SMS Settings</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/setting/edit/</action>
                    </setting>
                </children>
            </smsnotification>  
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <smsnotification>
                            <title>smsnotification Module</title>
                            <sort_order>200</sort_order>
                        </smsnotification>
                    </children>
                </admin>
            </resources>    
        </acl>
        <layout>
            <updates>
                <smsnotification>
                    <file>smsnotification.xml</file>
                </smsnotification>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <smsnotification>
                <class>Magcoder_Smsnotification_Model</class>
                <resourceModel>smsnotification_mysql4</resourceModel>
            </smsnotification>
            <smsnotification_mysql4>
                <class>Magcoder_Smsnotification_Model_Mysql4</class>
                <entities>
                    <smsnotification>
                        <table>smsnotification</table>
                    </smsnotification>
                    <setting>
                        <table>smsnotification_setting</table>
                    </setting>
                </entities>
            </smsnotification_mysql4>
        </models>
        <resources>
            <smsnotification_setup>
                <setup>
                    <module>Magcoder_Smsnotification</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smsnotification_setup>
            <smsnotification_write>
                <connection>
                    <use>core_write</use>
                </connection>

           </smsnotification_write>
            <smsnotification_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </smsnotification_read>
        </resources> 
        <blocks>
            <smsnotification>
                <class>Magcoder_Smsnotification_Block</class>
            </smsnotification>
        </blocks>
        <helpers>
            <smsnotification>
                <class>Magcoder_Smsnotification_Helper</class> 
            </smsnotification>
        </helpers> 
          <events>
            <sales_order_invoice_pay>
                <observers> 
                    <Magcoder_Smsnotification_Model_Observer_notificationFunction> 
                        <type>singleton</type> 
                        <class>Magcoder_Smsnotification_Model_Observer</class>
                        <method>notificationFunction</method>
                    </Magcoder_Smsnotification_Model_Observer_notificationFunction>
                </observers>
            </sales_order_invoice_pay> 
            <checkout_onepage_controller_success_action>
                <observers> 
                    <Magcoder_Smsnotification_Model_Observer_notificationFunction1>
                        <type>singleton</type>
                        <class>Magcoder_Smsnotification_Model_Observer</class>
                        <method>notificationFunction</method>
                    </Magcoder_Smsnotification_Model_Observer_notificationFunction1>
                </observers>
            </checkout_onepage_controller_success_action>    
             <sales_order_shipment_save_after> 
                <observers> 
                    <Magcoder_Smsnotification_Model_Observer_notificationFunction3>
                        <type>singleton</type>
                        <class>Magcoder_Smsnotification_Model_Observer</class>
                        <method>notificationFunction</method>
                    </Magcoder_Smsnotification_Model_Observer_notificationFunction3>
                </observers>
            </sales_order_shipment_save_after>   
              <checkout_multishipping_controller_success_action>
                <observers> 
                    <Magcoder_Smsnotification_Model_Observer_notificationFunction2>
                        <type>singleton</type>
                        <class>Magcoder_Smsnotification_Model_Observer</class>
                        <method>notificationFunction</method>
                    </Magcoder_Smsnotification_Model_Observer_notificationFunction2>
                </observers>
            </checkout_multishipping_controller_success_action>    
        </events>
    </global>
</config>
 