<?xml version="1.0"?>
<config>
    <modules>
        <Promotions_Message>
            <version>0.1.0</version>
        </Promotions_Message>
    </modules>
    <frontend>
        <routers>
            <message>
                <use>standard</use>
                <args>
                    <module>Promotions_Message</module>
                    <frontName>message</frontName>
                </args>
            </message>
        </routers>
        <layout>
            <updates>
                <message>
                    <file>message.xml</file>
                </message>
            </updates>
        </layout>
    </frontend>
    <admin>
	<routers>
		<adminhtml>
			<args>
				<modules>
					<Promotions_Message before="Mage_Adminhtml">Promotions_Message_Adminhtml</Promotions_Message>
				</modules>
			</args>
		</adminhtml>
	</routers>
</admin>
    <adminhtml>
		<!--<depends>
			 <config_path>message/messagestatus/status</config_path>
		</depends>-->
        <menu>
         <promo>
          <children>
           <items module="message">
            <title>Promotion Manager</title>
            <sort_order>10</sort_order> 
            <action>adminhtml/message</action>
           </items>
          </children>
         </promo>
        </menu> 
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <message>
                            <title>Message Module</title>
                            <sort_order>200</sort_order>
                        </message>
                    </children>
                </admin>
            </resources>    
        </acl>
        <layout>
            <updates>
                <message>
                    <file>message.xml</file>
                </message>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <message>
                <class>Promotions_Message_Model</class>
                <resourceModel>message_mysql4</resourceModel>
            </message>
            <message_mysql4>
                <class>Promotions_Message_Model_Mysql4</class>
                <entities>
                    <message>
                        <table>message</table>
                    </message>
                </entities>
            </message_mysql4>
        </models>
        <resources>
            <message_setup>
                <setup>
                    <module>Promotions_Message</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </message_setup>
            <message_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </message_write> 
            <message_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </message_read>
        </resources> 
        <blocks>
            <message>
                <class>Promotions_Message_Block</class>
            </message>
        </blocks>
        <helpers>
            <message>
                <class>Promotions_Message_Helper</class>
            </message>
        </helpers>
      <events>
		  
	  <checkout_cart_save_after> 
        <observers> 
          <checkout_cart_save_after_handler>
            <type>model</type>
            <class>message/observer</class>
            <method>checkCartSubtotal</method>
            <args></args>
          </checkout_cart_save_after_handler>
        </observers>
      </checkout_cart_save_after>
    </events>
    </global> 
</config> 
