<?xml version="1.0"?>
<config>
    <modules>
        <Magcoder_Promotions>
            <version>0.0.1</version>
        </Magcoder_Promotions>
    </modules>
    <frontend>
        <routers>
            <promotions>
                <use>standard</use>
                <args>
                    <module>Magcoder_Promotions</module>
                    <frontName>promotions</frontName>
                </args>
            </promotions>
        </routers>
        <layout>
            <updates>
                <promotions>
                    <file>promotions.xml</file>
                </promotions>
            </updates>
        </layout>
    </frontend>
    <admin>
	<routers>
		<adminhtml>
			<args>
				<modules>
					<Magcoder_Promotions before="Mage_Adminhtml">Magcoder_Promotions_Adminhtml</Magcoder_Promotions>
				</modules>
			</args>
		</adminhtml>
	</routers>
</admin>
    <adminhtml>
		<!--<depends>
			 <config_path>promotions/promotionsstatus/status</config_path>
		</depends>-->
        <menu>
         <promo>
          <children>
           <items module="promotions">
            <title>Promotion Manager</title>
            <sort_order>10</sort_order> 
            <action>adminhtml/promotions</action>
           </items>
          </children>
         </promo>
        </menu> 
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <promotions>
                            <title>Promotions Module</title>
                            <sort_order>200</sort_order>
                        </promotions>
                    </children>
                </admin>
            </resources>    
        </acl>
        <layout>
            <updates>
                <promotions>
                    <file>promotions.xml</file>
                </promotions>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <promotions>
                <class>Magcoder_Promotions_Model</class>
                <resourceModel>promotions_mysql4</resourceModel>
            </promotions>
            <promotions_mysql4>
                <class>Magcoder_Promotions_Model_Mysql4</class>
                <entities>
                    <promotions>
                        <table>promotions</table>
                    </promotions>
                </entities>
            </promotions_mysql4>
        </models>
        <resources>
            <promotions_setup>
                <setup>
                    <module>Magcoder_Promotions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promotions_setup>
            <promotions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promotions_write> 
            <promotions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promotions_read>
        </resources> 
        <blocks>
            <promotions>
                <class>Magcoder_Promotions_Block</class>
            </promotions>
        </blocks>
        <helpers>
            <promotions>
                <class>Magcoder_Promotions_Helper</class>
            </promotions>
        </helpers>
      <events>
		  
	  <checkout_cart_save_after> 
        <observers> 
          <checkout_cart_save_after_handler>
            <type>model</type>
            <class>promotions/observer</class>
            <method>checkCartSubtotal</method>
            <args></args>
          </checkout_cart_save_after_handler>
        </observers>
      </checkout_cart_save_after>
    </events>
    </global> 
</config> 
 